/*article.html CSS---------------------------------------*/
/*common*/
body{
    font-family: oswald;
}
.articleContent{
    text-align:center;

}
#PopularArticles{
        margin-top: 20px;
        margin-bottom: 10px;
}
footer{
    margin-top:50px
}
#embeddedVideo{
    height:70%;
    width:70%;
}
table, dl, span{
    color:white;
}
.articleContent img{
    margin:2%;
}


article{
    text-indent: 2em;
}
/*Mobile-------------------------------------*/
@media only screen and (max-width: 600px){
    .articleContent img{
        width: 200px;
        height: 200px;
        margin:2%;
    }
    #articleArea{
        height: 200%;
        border: 1px solid grey;
        border-radius: 20px;
        border-bottom: none;
        position: relative;
        padding: 20px; 
        
        background: #363535;
    }
    .articleContent{
        background: #2f4f4f;
        border: 1px solid grey;
        border-bottom: none;
        border-right:none;
        border-radius: 40px;
        position: relative;
        padding: 20px;
        padding-bottom: 0;
        height: 42%;
    }
    #articleArea .articleContent a{
        font-size: 15px;
        color: orange;
    }  
    #page2{
        height: 46%
    }
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 601px){
    #articleArea{
       width: 100%;
       height: 10%;
      
    }
    .articleContent img{
        width: 240px;
        height: 240px;
        margin:2%;
    }
    .articleTitle{
        background: #2f4f4f;
        border: 1px solid grey;
        border-radius: 20px;
        border-bottom: none;
        border-right:none;
        position: relative;
        padding: 5px;
        padding-top: 10px;
        margin:20px;
        margin-right: 30px;
    }
    .articleTitle p{
        line-height: 50px;
        font-size: 20px
    }
    .articleTitle h2{
        line-height: 50px;
        font-size: 30px
    }
    #articleArea {
        background: #363535;
        border: 1px solid grey;
        border-bottom: none;
        border-right:none;
        border-radius: 20px;
        position: relative;
        padding: 20px;
        margin:5px;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-left: 60px;
        height: 99%;
        text-align: center;
    }
    
    .articleContent{
        background: #2f4f4f;
        border: 1px solid grey;
        border-bottom: none;
        border-right:none;
        border-radius: 40px;
        position: relative;
        padding: 20px;
        margin:20px;
        margin-right: 30px;
        padding-bottom: 0;
        height: 70%;
    }
    
    #articleArea .articleContent a{
        font-family: "Futura", Times, serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 15px;
        color: orange;
    } 
    article p{
        font-size: 25px;
    }

    #page6article{
        height:72%
    }
    #page2{
        height: 77%
    }
}