/*Mobile-------------------------------------*/
@media only screen and (max-width: 600px){   
    header button{
        position: absolute;
        margin-top: -100px;
    }
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 601px) {
    header button{
        position: absolute;
        margin-top: 5%;
        margin-left: 32%;
    }
}